<!-- <p>payground works!</p>

<button class="btn-handler" (click)="handleClick()">Click me!</button>

<hr>
<div [style.color]="isToggle ? 'orange': 'white'">This is dynamic color change</div>
<div [style.background]="isToggle ? 'white': 'orange'">This is dynamic background color change</div>
<hr>
<p [class.shiny]="isToggle">This text will be shiny in click</p>
<div *ngIf="isToggle">
    <div [class]="greenBackground">Toggle me!</div>
    <img [attr.src]="imgUrl" />
</div> -->

<input type="text" placeholder="username" #username/>
<button (click)="handleInput(username.value)">Handle Input</button>
<div [style.background-color]="colorValue">Test 123</div>

<!-- <div [ngClass]="['first', 'second']">TEST ngClass</div>
<div [class]="['first', 'second']">TEST attribute class</div>

<div [attr.data-test123]="'test321'">This is testing of custom data attr</div> -->