<div class="container">
    <div class="new-theme-border">
        <div class="header-background">
            <span>New Theme</span>
        </div>
        <form #form="ngForm" (ngSubmit)="newThemeHandler(form)">
            <div class="new-theme-title">
                <label for="themeName">Title <span class="red">*</span></label>
                <input type="text" name="themeName" id="themeName" ngModel required minlength="5" #themeName="ngModel">
                <ng-container *ngIf="themeName.touched"> 
                    <p *ngIf="themeName.errors?.['required']" class="error">
                        Theme name is required.
                    </p>
                    <p *ngIf="themeName.errors?.['minlength']" class="error">
                        Theme name must be at least {{themeName.errors?.['minlength']?.['requiredLength']}} characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-content">
                <label for="postText">Post <span class="red">*</span></label>
                <textarea type="text" name="postText" id="postText" rows="8" class="height" ngModel required minlength="10" #postText="ngModel"></textarea>
                <ng-container *ngIf="postText.touched">
                    <p *ngIf="postText.errors?.['required']" class="error">
                        The field with your post is required.
                    </p>
                    <p *ngIf="postText.errors?.['minlength']" class="error">
                        Post must be at least {{postText.errors?.['minlength']?.['requiredLength']}} characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-buttons">
                <button class="cancel" type="button" routerLink="/themes">Cancel</button>
                <button class="public" [disabled]="form.invalid">Post</button>
            </div>

        </form>
    </div>
</div>